:root {
    /* Website Main Colours https://designs.ai/colors/palette/337*/
    --websiteMainColour: #00d1ff;
    --websiteSecondColour: #00fff0;
    --websiteThirdColour:#fff5d0;
    --websiteFouthColour:#fcebad;
    /* END Website Main Colours */

    /* Main navigation Colours */
    --mainNavTextColour: white;
    --mainNavSelectedTextColour: #fff;

    --mainNavColour: var(--websiteMainColour);
    --mainNavSelectedColour: var(--websiteSecondColour);
    /* END Main nevigation Colours */

    /* Footer Colours */
    --mainFooterColour: var(--mainNavColour);
    /* END Footer Colours */

    
  }

/* *-allows to select all elements, using this to remove 
default styling on a global level */
*{
    padding: 0; /*Removing default padding */
    margin: 0;  /*Removing default margins */
    font-family: Sans-serif;
    
}

/* Page Fade In */
body {
    background-color: var(--websiteThirdColour);
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    /* smallest supported screen width */
    min-width: 360px;

    /* max width so it still looks ok on big screens like tvs */
    max-width: 1400px;
    margin: auto;
 
}
 
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}



/* Navigation Styling*/

/* Menu Icon(Label) that sits over the checkbox*/
#hamburgerMenu {
    position: absolute;
    width: 40px;
    height: 40px;
    background: linear-gradient(
        to bottom, 
        #000 0%, #000 20%, 
        #fff 20%, #fff 40%,
        #000 40%, #000 60%, 
        #fff 60%, #fff 80%,
        #000 80%, #000 100%
    );
    border: 1px solid #000;
    border-radius: 0px 0px 40px 0px;

}
 
#hamburgerMenu #mainNavigationMenu {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: -250px;
    width: 200px;
    height: 100%;
    /*
    background-color: var(--mainNavColour);
    */
    background: linear-gradient(to right, var(--mainNavColour), white);
    transition: .5s;
    box-sizing: border-box;
    box-shadow: 0 0 5px 10px var(--websiteThirdColour);
}
  
#hamburgerMenu h3 {
    text-align: center;
    color: var(--mainNavTextColour);
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5), 1px -1px 0 rgba(0, 0, 0, 0.5), -1px 1px 0 rgba(0, 0, 0, 0.5), 1px 1px 0 rgba(0, 0, 0, 0.5);
    font-size: 2.2rem;
}
#mainNavigationMenu a, #mainNavigationMenu a:visited {
    color: var(--mainNavTextColour);
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5), 1px -1px 0 rgba(0, 0, 0, 0.5), -1px 1px 0 rgba(0, 0, 0, 0.5), 1px 1px 0 rgba(0, 0, 0, 0.5);
    font-size: 1.3rem;
    text-decoration: none;
}
#mainNavigationMenu li{
    padding: 10px;
}
/* Checkbox that shows and hides the navigation menu */
#hamburgerInput{
    display: none;
}
#hamburgerInput:checked + #hamburgerMenu #mainNavigationMenu {
    visibility: visible;
    left: 0;
}

/* Styling for the current nav link */
#currentNavLink, #currentNavLink a, #currentNavLink a:visited{
    pointer-events: none; /* Disables click event */
    
    color: var(--mainNavSelectedTextColour);  
}
#currentNavLink{
    background-color: var(--mainNavSelectedColour);
    box-shadow: 3px 0px 5px 0px var(--mainNavSelectedColour);
}

#desktopNavContainer{
    display: none;
}
 
.shopIcon{
    width: 30px;
}

/* END Navigation Styling */

/* Header Styling */
#pageHeader{
    /* 
    background-color: var(--websiteMainColour);
    */
    width: 100%;
    background-image: linear-gradient(var(--websiteMainColour) 50%, var(--websiteThirdColour));
    padding: 2px;

    border-bottom-left-radius: 15px;;
    border-bottom-right-radius: 15px;;
}
h1{
    font-size: 3em;
    text-align: center;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.5), 1px -1px 0 rgba(255, 255, 255, 0.5), -1px 1px 0 rgba(255, 255, 255, 0.5), 1px 1px 0 rgba(255, 255, 255, 0.5);
}

header h2{
    padding-left: 15px;
    padding-top: 10px;
}

/* END Header Styling */
main > section{

    /* testing value
    border: 4px solid #ff00ff;
    */
    margin: 5px;
    padding: 2px;

    border-radius: 10px;

    background-color: var(--websiteFouthColour);

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

main > section section{
    margin: 5px;
    margin-top: 15px;

    padding: 10px;

    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

main p{
    margin-top: 0.5em;
}

section img{
    width: 100%;
    height: min-content;
    border-radius: 10px;

    min-width: 340px;
    max-width: 790px;
    
}


/* Footer Styling */
footer{
    background-color: var(--mainFooterColour);

    
    border-top-left-radius: 15px;;
    border-top-right-radius: 15px;;
}
/* END Footer Styling */

.flexContainerColumn{
    display: flex;
    flex-direction: column;
}
.flexContainer{
    display: flex;
}


.hide{
    display:none;
}

/*Form Styling */
#contactFormContainer{
    margin: 5px auto;
    padding: 10px;
    

    border-radius: 10px;

    background-color: var(--websiteFouthColour);

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}



textarea {
    min-height: 10em;
}

label, input, textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    

    border-radius: 3px;
}

.form-control {
    margin-bottom: 1em;
}


.field-error {
    color: red;
    font-weight: bold;
}

/* END Form styling*/

@media screen and (min-width: 450px) {
    h1{
        font-size: 2.5em; 
    }
}

@media screen and (min-width: 530px) {
    h1{
        font-size: 3em; 
    }
}
@media screen and (min-width: 800px) {
    main > section section {
        display: flex;
        flex-direction: row;      
        margin-left: 10px;
    }
    main > section >section > div{
        margin-left: 30px;
        margin-right: 10px;
    }

    section img{
        width: 400px;
        
    }
    #desktopNavContainer{
        display: flex;
        
    }
    #mobileNavContainer{
        display: none;
    }

    #mainNavigationMenu li{
        display:inline;
        
    }
    #pageHeader{
        padding-bottom: 10px;
    }
}


    

